*{
  font-family: Kiwi Maru;
}

.title {
  width: 348px;
  color: rgba(87, 108, 136, 1);
  position: absolute;
  top: 117px;
  left: 0;
  right: 0;
  margin: auto;
  font-weight: Medium;
  font-size: 26px;
  text-align: center;
}
.subtitle {
  width: 660px;
  height: 34px;
  color: rgba(105,136,157,1);
  position: absolute;
  left: 0;
  right: 0;
  top: 188px;
  margin: 0 auto;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
  border-bottom: 4px solid rgba(105,136,157,0.8);
}

.start-base {
  height: 600px;
  width: 700px;
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  margin: auto;
}
