<span class="title">{{initialData[exam_id].examName}}</span>
<div class="score-base">
  <span class="percentage">46 %</span>
  <div class="bar-base">
    <div class="bar-box">
      <span class="subtitle question">解答モード</span>
      <div class="bar-back memory">
        <div class="bar memory"></div>
      </div>
    </div>
    <div class="bar-box">
      <span class="subtitle memory">暗記モード</span>
      <div class="bar-back question">
        <div class="bar question"></div>
      </div>
    </div>
  </div>
</div>
<div class="select-base">
  <div *ngFor="let category of initialData[exam_id].categoryList" class="section-base">
    <div class="subtitle">
      <!-- TODO ループによってアイコンを変える（strategy/management/technology） -->
      <div class="icon strategy"></div>
      <span class="name">{{category.categoryName}}</span>
    </div>
    <!-- TODO セクション選択画面をなくす。ここからタイピング開始画面に遷移。 -->
    <a *ngFor="let section of category.sectionList" class="rectangle category" routerLink="/play/select">
      <span class="name">{{section.sectionName}}</span>
    </a>
    <div class="rectangle summary">
      <span class="name">まとめ</span>
    </div>
  </div>
</div>
