$base-font: Kiwi Maru;
$header-height: 60px;

header{
  display: inline-block;
  width: 100%;
  height: $header-height;
  position: fixed;
  background: #576C88;
  z-index: 100;
  .logo{
    width: 169px;
    height: $header-height;
    background: url("../../assets/header-logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    left: 30px;
    top: 6px;
  }
  .link-box{
    margin-right: 40px;
    .link{
      width: 80px;
      height: $header-height;
      line-height: $header-height;
      font-family: $base-font;
      font-weight: Middle;
      font-size: 16px;
      color: whitesmoke;
      float: right;
      margin: auto 10px auto auto;
      text-decoration: none;
    }
  }
}
