<span class="title">資格を選択してください</span>
<div class="select-base">
  <div class="select-box">
    <a routerLink="/play/select/0/section" class="rectangle">
      <div class="name">ITパスポート</div>
      <div class="line"></div>
      <div class="icon it-pass"></div>
    </a>
    <a routerLink="/play/select/1/section" class="rectangle">
      <div class="name">基本情報技術者</div>
      <div class="line"></div>
      <div class="icon basic-tech"></div>
    </a>
    <a routerLink="/play/select/2/section" class="rectangle">
      <div class="name">応用情報技術者</div>
      <div class="line"></div>
      <div class="icon applied-tech"></div>
    </a>
  </div>
  <div class="select-box">
    <a routerLink="/play/select/3/section" class="rectangle">
      <div class="name">統計検定３級</div>
      <div class="line"></div>
      <div class="icon satistical-3"></div>
    </a>
    <a routerLink="/play/select/4/section" class="rectangle disable-filter">
      <div class="name">統計検定２級</div>
      <div class="line"></div>
      <div class="icon satistical-2"></div>
    </a>
    <a routerLink="/play/select/5/section" class="rectangle disable-filter">
      <div class="name">簿記検定</div>
      <div class="line"></div>
      <div class="icon bookkeeping-2"></div>
    </a>
  </div>
</div>
