<span class="title">ITパスポート</span>
  <div class="score-base">
    <span class="percentage">46 %</span>
    <span class="subtitle memory">暗記モード</span>
    <span class="subtitle question">解答モード</span>
    <div class="bar-base memory">
      <div class="bar memory"></div>
    </div>
    <div class="bar-base question">
      <div class="bar question"></div>
    </div>
  </div>
  <!-- TODO データベースから取得してforで回す -->
<div class="select-base">
  <div class="section-base left">
    <div class="subtitle">
      <div class="icon strategy"></div>
      <span class="name">ストラテジ系</span>
    </div>
    <div class="category n1">
      <div class="rectangle"></div>
      <span class="name">企業と法務</span>
    </div>
    <div class="category n2">
      <div class="rectangle"></div>
      <span class="name">経営戦略</span>
    </div>
    <div class="category n3">
      <div class="rectangle"></div>
      <span class="name">システム戦略</span>
    </div>
    <div class="summary n4">
      <div class="rectangle"></div>
      <span class="name">まとめ</span>
    </div>
  </div>
  <div class="section-base center">
    <div class="subtitle">
      <div class="icon management"></div>
      <span class="name">マネジメント系</span>
    </div>
    <div class="category n1">
      <div class="rectangle"></div>
      <span class="name">開発技術</span>
    </div>
    <div class="category n2">
      <div class="rectangle"></div>
      <span class="name">プロジェクトマネジメント</span>
    </div>
    <div class="category n3">
      <div class="rectangle"></div>
      <span class="name">サービスマネジメント</span>
    </div>
    <div class="summary n4">
      <div class="rectangle"></div>
      <span class="name">まとめ</span>
    </div>
  </div>
  <div class="section-base right">
    <div class="subtitle">
      <div class="icon technology"></div>
      <span class="name">テクノロジ系</span>
    </div>
    <div class="category n1">
      <div class="rectangle"></div>
      <span class="name">技術要素</span>
    </div>
    <div class="category n2">
      <div class="rectangle"></div>
      <span class="name">コンピュータシステム</span>
    </div>
    <div class="category n3">
      <div class="rectangle"></div>
      <span class="name">基礎理論</span>
    </div>
    <div class="summary n4">
      <div class="rectangle"></div>
      <span class="name">まとめ</span>
    </div>
  </div>
</div>
