<div class="statement">
  <span class="finished">
    {{ automatons[wordIndex]?.finishedMixedSubstr }}
  </span>{{ automatons[wordIndex]?.pendingMixedSubstr }}
</div>

<div class="line"></div>

<div class="hiragana">
  <span class="finished">
    {{ automatons[wordIndex]?.base.finishedWord }}
  </span>
  {{ automatons[wordIndex]?.base.pendingWord }}
</div>

<div class="english">
  <span class="finished">
    {{ automatons[wordIndex]?.base.finishedRoman }}
  </span>
  {{ automatons[wordIndex]?.base.pendingRoman }}
</div>

<div class="bottomContainer">
  <div class="lastInputKey">
    Key: <code style="border: 1px solid gray; padding: 0.2rem">{{ lastInputKey?.key }}</code>
  </div>

  <div class="questionInfo">
    問題数: {{ wordIndex + 1 }} / {{ playingDataService.getTotalQuestionNum() }}問目 <br>
    頻出度: {{ getFrequencyString(wordIndex) }}
  </div>
</div>
