.play-base {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}
.topic-path {
  width: 336px;
  color: rgba(105,136,157,1);
  position: absolute;
  top: 73px;
  left: 33px;
  text-decoration: none;
  font-family: Kiwi Maru;
  font-weight: Regular;
  font-size: 14px;
  text-align: left;
}
