<lbt-breadcrumbs></lbt-breadcrumbs>
<div class="play-base">
  <span class="title">{{ questionDataService.getExam(examId)?.examName }}</span>
  <div
    class="exam-description"
    [innerHTML]="questionDataService.getExam(examId)?.description"
  ></div>
  <div class="select-base">
    <div
      *ngFor="let category of questionDataService.getExam(examId)?.categoryList"
      class="section-base"
    >
      <div class="subtitle">
        <!-- TODO ループによってアイコンを設定する（strategy/management/technology） -->
        <!-- <div class="icon strategy"></div> -->
        <div class="name">{{ category.categoryName }}</div>
      </div>
      <!-- TODO ゲーム情報の渡し方を修正する -->
      <a
        *ngFor="let section of category.sectionList"
        class="rectangle category"
        routerLink="/exam/section/playing/start"
        [queryParams]="{
          'exam-id': examId,
          'category-id': category.categoryId,
          'section-id': section.sectionId
        }"
      >
        <span class="name">{{ section.sectionName }}</span>
      </a>
      <a
        class="rectangle summary"
        routerLink="/exam/section/playing/start"
        [queryParams]="{
          'exam-id': examId,
          'category-id': category.categoryId,
          'section-id': 0
        }"
      >
        <span class="name">まとめ</span>
      </a>
    </div>
  </div>
</div>
