<div class="play-base">
  <lbt-breadcrumbs></lbt-breadcrumbs>
  <span class="title">資格を選択してください</span>
  <div class="select-base">
    <div class="select-box">
      <a class="rectangle" routerLink="/select/section" [queryParams]="{'exam-id': 1}">
        <div class="name">ITパスポート</div>
        <div class="line"></div>
        <div class="icon it-pass"></div>
      </a>
      <a class="rectangle" routerLink="/select/section" [queryParams]="{'exam-id': 2}">
        <div class="name">基本情報技術者</div>
        <div class="line"></div>
        <div class="icon basic-tech"></div>
      </a>
      <a class="rectangle" routerLink="/select/section" [queryParams]="{'exam-id': 3}">
        <div class="name">応用情報技術者</div>
        <div class="line"></div>
        <div class="icon applied-tech"></div>
      </a>
    </div>
    <div class="select-box">
      <a class="rectangle" routerLink="/select/section" [queryParams]="{'exam-id': 4}">
        <div class="name">統計検定３級</div>
        <div class="line"></div>
        <div class="icon satistical-3"></div>
      </a>
      <a class="rectangle disable-filter" routerLink="/select/section" [queryParams]="{'exam-id': 5}">
        <div class="name">統計検定２級</div>
        <div class="line"></div>
        <div class="icon satistical-2"></div>
      </a>
      <a class="rectangle disable-filter" routerLink="/select/section" [queryParams]="{'exam-id': 6}">
        <div class="name">簿記検定</div>
        <div class="line"></div>
        <div class="icon bookkeeping-2"></div>
      </a>
    </div>
  </div>
</div>
