.play-base {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.title {
  width: 400px;
  color: rgba(87, 108, 136, 1);
  position: absolute;
  top: 117px;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 26px;
  text-align: center;
}
.select-base {
  width: 740px;
  height: 461px;
  position: absolute;
  top: 190px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 10px;
  .select-box{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    // display: -webkit-flex;
    // -webkit-justify-content: space-around;
    .rectangle {
      width: 175px;
      height: 200px;
      background: rgba(245, 245, 245, 1);
      opacity: 1;
      border: 1.5px solid rgba(102, 102, 102, 1);
      border-radius: 20px;
      text-decoration: none;
      transition: 0.3s cubic-bezier(0.5, 1, 0.89, 1);
      &:hover:not(.disable-filter) {
        transform: scale(1.07);
      }
      &.disable-filter {
        opacity: 0.5;
      }
      .name {
        width: 100%;
        color: rgba(51, 51, 51, 1);
        position: relative;
        top: 13px;
        margin: 0 auto;
        font-weight: Light;
        font-size: 16px;
        text-align: center;
      }
      .line {
        width: 100%;
        height: 1px;
        z-index: 10;
        border-top: 1.5px solid rgba(102, 102, 102, 1);
        position: relative;
        top: 30px;
        left: 0;
        opacity: 1;
      }
      .icon {
        width: 64px;
        height: 64px;
        opacity: 1;
        position: relative;
        top: 70px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        overflow: hidden;
        &.it-pass {
          background: url("/assets/exam/it-pass.png");
        }
        &.basic-tech {
          background: url("/assets/exam/basic-tech.png");
        }
        &.applied-tech {
          background: url("/assets/exam/applied-tech.png");
        }
        &.satistical-3 {
          background: url("/assets/exam/satistical-3.png");
        }
        &.satistical-2 {
          background: url("/assets/exam/satistical-2.png");
        }
        &.bookkeeping-2 {
          background: url("/assets/exam/bookkeeping-2.png");
        }
      }
    }
  }
}
