<span class="title">{{gameData[exam_id].examName}}</span>
<div class="subtitle">
  {{gameData[exam_id].categoryList[category_id].categoryName}}
  【{{gameData[exam_id].categoryList[category_id].sectionList[section_id].sectionName}}】</div>
<div class="start-base">
  <div class="statement">
    モードを選択してください。<br>
    クリックすると、３秒後にスタートします。
  </div>
  <div class="button-base">
    <div class="button-section">
      <a routerLink="/playing-nomal">
        <div class="button">
          <div class="text">暗記モード</div>
        </div>
      </a>
      <div class="explanation">
        問題文をそのままタイピングして、<br />暗記を行うモード。
      </div>
    </div>
    <div class="button-section">
      <a routerLink="/playing-filling">
        <div class="button">
          <div class="text">解答モード</div>
        </div>
      </a>
      <div class="explanation">
        問題文の一部が隠されており、<br />それを解答してタイピングするモード。
      </div>
    </div>
  </div>
</div>
