<div class="contact-us">
  <span class="title">お問合せ / ご要望</span
  ><span class="subtitle">- Contact us -</span>
  <form [formGroup]="inquiryForm" (ngSubmit)="sendInquiry()">
    <input
      class="n1"
      type="text"
      formControlName="subject"
      placeholder="件名（任意）"
    />
    <input
      class="n2"
      [ngClass]="{
        invalid: inquiryForm.get('email')?.invalid && inquiryForm.get('email')?.touched
      }"
      type="mail"
      formControlName="email"
      placeholder="メールアドレス（任意）"
    />
    <div
      *ngIf="inquiryForm.get('email')?.invalid && inquiryForm.get('email')?.touched"
      class="n2-warning"
    >
      正しいメールアドレスを入力してください。
    </div>
    <textarea
      type="text"
      formControlName="message"
      placeholder="本文"
    ></textarea>

    <button class="send-button" type="submit"
      [disabled]="inquiryForm.invalid"
      [ngClass]="{
        invalid: inquiryForm.invalid
      }"
    >
      <span class="label">送信</span>
    </button>
  </form>
</div>
