.background {
  width: 100%;
  height: auto;
  background: url("../assets/background-paper.jpg");
  background-repeat: repeat;
  background-position: center center;
  background-size: 100%;
  // z-index: -9999;
  opacity: 1;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
