@import "../../../styles.scss";

.contact-us {
  .send-button:not(.invalid):hover {
    transform: scale(1.05);
  }
  .send-button{
    transition: .3s cubic-bezier(0.5, 1, 0.89, 1);
  }
}

:host.home-contact{
  .contact-us{
    position: absolute;
    top: 3488px;
  }
}

.contact-us {
  width: 700px;
  height: 100vh;
  opacity: 1;
  position: relative;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  overflow: visible;
  .title {
    width: 100%;
    color: $base-color;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    margin: auto;
    font-weight: Medium;
    font-size: 29px;
    opacity: 1;
    text-align: center;
  }
  .subtitle {
    width: 100%;
    color: rgba(136,136,136,1);
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 25px;
    opacity: 1;
    text-align: center;
  }
  form > input, textarea {
    resize: none;
    width: 470px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding: 14px;
    color: rgba(80,80,80,1);
    font-size: 16px;
    border: 1px solid rgba(0,0,0,1);
    border-radius: 10px;
    overflow: hidden;
    vertical-align: top;
    &.n1{
      height: 29px;
      top: 130px;
    }
    &.n2{
      height: 29px;
      top: 202px;
    }
    &,textarea {
      height: 230px;
      top: 274px;
    }
    &.invalid {
      border: 1.5px $warning-color solid;
      background-color: rgba(255, 240, 240, 1);
    }
  }
  form > input:focus, textarea:focus{
    border-color: #000;
    background-color: #ffc;
    outline: none;
  }
  .n1-warning{
    position: absolute;
    top: 171px;
    left: 110px;
    color: $warning-color;
    font-size: 10px;
  }
  .n2-warning{
    position: absolute;
    top: 242px;
    left: 110px;
    color: $warning-color;
    font-size: 10px;
  }
  .text-warning{
    position: absolute;
    top: 508px;
    left: 110px;
    color: $warning-color;
    font-size: 10px;
  }


  .send-button{
    display: block;
    border: none;
    width: 500px;
    height: 54px;
    position: absolute;
    top: 554px;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    background: rgba(80,138,199,1);
    border-radius: 10px;
    opacity: 1;
    &.invalid {
      opacity: 0.4;
    }
    .label {
      width: 451px;
      height: 54px;
      line-height: 54px;
      color: rgba(255,255,255,1);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      font-weight: Medium;
      font-size: 18px;
      opacity: 1;
      text-align: center;
      vertical-align: center;
    }
  }

  .error-message {
    color: $warning-color;
    position: absolute;
    top: 615px;
    left: 100px;
    font-size: 14px;
  }

  .send-complete {
    color: $accent-color;
    position: absolute;
    top: 270px;
    width: 100%;
    margin: 0 auto;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
  }
}
