*{
  font-family: Kiwi Maru;
}

.title {
  width: 348px;
  color: rgba(87, 108, 136, 1);
  position: absolute;
  top: 117px;
  left: 0;
  right: 0;
  margin: auto;
  font-weight: Medium;
  font-size: 26px;
  text-align: center;
}
.subtitle {
  width: 660px;
  height: 34px;
  color: rgba(105,136,157,1);
  position: absolute;
  left: 0;
  right: 0;
  top: 188px;
  margin: 0 auto;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
  border-bottom: 4px solid rgba(105,136,157,0.8);
}

.question-base{
  height: 600px;
  width: 660px;
  position: absolute;
  top: 260px;
  left: 0;
  right: 0;
  margin: 0 auto;
  .rectangle {
    display: inline-block;
    width: 100%;
    height: 46px;
    margin: 0 0 16px;
    background: rgba(252,252,252,1);
    position: relative;
    top: 0;
    border: 1px solid rgba(105,136,157,1);
    border-radius: 10px;
    color: rgba(85,85,85,1);
    transition: 0.3s cubic-bezier(0.5, 1, 0.89, 1);
    &:hover {
      transform: scale(1.03);
    }
    &.complete-filter {
      border: 1px solid rgba(173,120,110,1);
      background: rgba(255,240,240,1);
      color: rgba(150,60,10,1);
    }
    &.back {
      border: none;
      background: rgba(230, 80, 30, 1);
      color: rgba(255,240,240,1);
    }
  }
  .text {
    width: 100%;
    position: absolute;
    left: 26px;
    font-weight: Regular;
    font-size: 16px;
    line-height: 46px;
    text-align: left;
  }
}
