* {
  font-family: Kiwi Maru;
}
a {
  text-decoration: none;
}

.statement {
  width: 482px;
  height: 40px;
  color: rgba(87,108,136,1);
  position: relative;
  top: 70px;
  left: 0;
  right: 0;
  margin: auto;
  font-weight: Regular;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
}
.button-base {
  width: 100%;
  height: 180px;
  position: relative;
  top: 200px;
  margin: sauto;
  display: flex;
  justify-content: center;
  .button-section {
    width: 330px;
    height: 160px;
    position: relative;
    margin: 0 10px;
    .button {
      width: 280px;
      height: 52px;
      margin: 0 auto;
      background: rgba(230, 80, 30, 1);
      border-radius: 30px;
      transition: 0.3s cubic-bezier(0.5, 1, 0.89, 1);
      &:hover {
        transform: scale(1.03);
      }
      .text {
        color: rgba(255, 255, 255, 1);
        font-weight: Medium;
        font-size: 18px;
        line-height: 50px;
        text-align: center;
      }
    }
    .explanation {
      width: 100%;
      color: rgba(230, 80, 30, 1);
      margin-top: 26px;
      font-weight: Regular;
      font-size: 16px;
      text-align: center;
      line-height: 26px;
    }
  }
}
