<div class="nomal-main" *ngIf="showCountdown; else otherContent">
  <div class="countdown">{{ countdownMessage }}</div>
</div>

<ng-template #otherContent>
  <div class="nomal-main">
    <div class="statement">
      {{ getPlayingQuestion().statement }}
      <!-- ネットワーク上で不正なアクセスを防止するためのセキュリティ装置を「ファイアウォール」という。 -->
    </div>
    <div class="line"></div>
    <div class="hiragana">
      {{ getPlayingQuestion().hiragana }}
      <!-- ねっとわーくじょうでふせいなあくせすをぼうしするためのせきゅりてぃそうちを「ふぁいあうぉーる」という。 -->
    </div>
    <div class="english">
      <!-- TODO ひらがなから変換 -->
      NETTOWA-KUJOUDEHUSEINAAKUSESUWOBOUSISURUTAMENOSEKYURITHISOUTIWO
      [FAIAUXO-RU]TOIU.
    </div>
  </div>
</ng-template>
