.login-base {
  width: 440px;
  height: 100vh;
  opacity: 1;
  position: relative;
  top: 130px;
  left: 0;
  right: 0;
  margin: 0 auto;
  .title {
    width: 100%;
    height: 93px;
    opacity: 1;
    position: absolute;
    top: 0;
    left: -17px;
    overflow: visible;
    .logo {
      width: 362px;
      height: 93px;
      background: url("../../../assets/main/main-logo.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: relative;
      top: 10px;
      left: 0px;
      overflow: visible;
    }
    .text {
      width: 162px;
      color: rgba(18,45,66,0.8);
      position: absolute;
      top: 35px;
      left: 335px;
      font-family: Kiwi Maru;
      font-weight: Medium;
      font-size: 22px;
      opacity: 1;
      text-align: left;
    }
  }
  .input-base {
    width: 100%;
    height: 238px;
    opacity: 1;
    position: absolute;
    margin: 0 auto;
    top: 140px;
    left: 0;
    right: 0;
    // border: 1px solid rgba(0,0,0,1);
    .form {
      width: 90%;
      height: 58px;
      background: rgba(255,255,255,1);
      opacity: 1;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto 20px;
      padding: 0 5%;
      font-size: 16px;
      font-weight: Medium;
      border: 1px solid rgba(0,0,0,1);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .button {
      width: 100%;
      height: 62px;
      opacity: 1;
      position: relative;
      margin: auto;
      font-size: 16px;
      top: 0;
      left: 0;
      right: 0;
      margin: 10px auto 0px;
      transition: .3s cubic-bezier(0.5, 1, 0.89, 1);
      &:hover {
        transform: scale(1.05);
      }
      .rectangle {
        width: 100%;
        height: 58px;
        background: rgba(230,80,30,1);
        opacity: 1;
        position: absolute;
        top: 2px;
        left: 0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      .label {
        width: 100%;
        line-height: 62px;
        text-align: center;
        position: absolute;
        color: rgba(255,255,255,1);
        top: 0px;
        font-family: Kiwi Maru;
        font-weight: Medium;
        font-size: 18px;
        opacity: 1;
        text-align: center;
      }
    }
  }
  .navi-signup {
    width: 235px;
    position: absolute;
    top: 400px;
    left: 200px;
    color: rgba(0,0,0,0.8);
    font-family: Kiwi Maru;
    font-weight: Medium;
    font-size: 17px;
    opacity: 1;
    text-align: right;
    a{
      text-decoration: none;
      color: #0066CC;
    }
  }
}
